

<!-- Background image -->

    <br><br><br>
   <div class="col d-flex justify-content-center text-center">
    <div class="card text-center" style="width: 35rem;">
  <img class="card-img-top" src="{{admin.image}}" width="auto" height="100%" class="img-fluid rounded mx-auto d-block" alt="Card image cap">
  <div class="card-body">
  <p>nom : {{admin.nom}}</p>
  <p>prenom : {{admin.prenom}}</p>
  <p>date de naissance : {{admin.birthday|date('Y-m-d')}}</p>
    <p class="card-text">
    {{admin.description}}</p>
  </div>
</div>
</div>
<br><br><br><br><br><br><br><br>