{% extends 'layout/layout.html.twig' %}
{% block title %}
    
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>nom</th>
                <th>prenom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.image }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.description }}</td>
                <td>
                    <a href="{{ path('app_admin', {'id': user.id}) }}">show</a>
                    <a href="{{ path('detail_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>

        </tbody>
    </table>
{% endblock %}

